/* body {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,20em);
}
.image {
    width: 10em;
    height: 10em;
    background-color: red;
    margin: auto;
    display: block;
}
.div {
    width: 10em;
    height: 10em;
    background-color: red;
    margin: auto;
    border: 2px solid blue;
    display:block
}
.p {
    color: white;
    width: 10em;
    height: 10em;
    background-color: red;
    margin: auto;
    border: 2px solid blue;
}
#first {
    background-color: blue;
    border: 2px solid red;
    grid-column: 1/3;
    width: 100%;
}
#second {
    grid-column: 2/3;
    background-color: purple;
} */

body {
    /* border: 2px solid blue; */
    margin: 0;
    text-align: center;
    padding: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
img {
    /* border: 2px solid red; */
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    grid-column: 1/2;
    grid-row: 1/3;
}
div {
    width: 100%;
    height: 100%;
    background-color: rgb(177, 177, 177);
    /* border: 2px solid purple; */
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 1/3;
}
h1 {
    /* border: 2px solid red; */
    grid-column: 1/3;
    grid-row: 1/2;
    margin: auto;
    margin-bottom: -.1em;
    width: 100%;
    font-size: 6.1em;
    letter-spacing: .1em;
}
h2 {
    /* border: 2px solid green; */
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
    color: rgb(171, 17, 17);
    letter-spacing: .2em;
    font-size: 3em;
}