/*Font Family has been added to style sheet*/
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300&family=Nunito:wght@300;400&family=Raleway:wght@100;400&display=swap');

.logo {
    width: 250px;
  }
  .icon {
    height: 75px;
  }
  .resume {
    width: 200px;
  }